.perfilLateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25vw;
  height: 100vh;
  padding: 1rem;
  background-color: #ffffff;
  color: black;
  position: relative;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

.nomeUsuario{
  width: 100%;
  word-break: break-word;
  justify-content: center;
  display: flex;
  font-size: clamp(14px, 2vw, 20px);
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo img{
    width: 140px;
    align-self: flex-start;
    display: block;
}

.imagemUsuario{
  width: 10vw;
  min-width: 100px;
  border-radius: 50%;
}

.descricaoUsuario{
  text-align: center;
  width: 90%;
  font-size: clamp(12px, 2vw, 15px);
  margin: 0;
  margin-bottom: 2rem;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  width: clamp(150px, 30vw, 80%);
  height: 2rem;
  background-color: #4A90E2;
  margin: 0.3rem;
  font-size: clamp(12px, 2vw, 16px);
  transition: all 0.5s;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

button:hover{
  background-color: #1f65b5;
  border: none;
  transform: scale(1.03);
}

hr{
  width: 100%;
  margin: 2rem 0;
  color: #F0F0F0;
}

.notaPerfil{
  width: 100%;
  word-break: break-word;
  justify-content: center;
  display: flex;
  font-size: clamp(14px, 2vw, 18px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.242);
  display: flex;
  justify-content: flex-start; /* painel agora na esquerda */
  z-index: 999;
}

.closeBtn {
  top: 1rem;
  position: relative;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 20%;
  height: 50%;
}

.closeBtn:hover{
  background-color: transparent;
}

.slideIn {
  animation: slideIn 0.3s forwards;
}

.slideOut {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}